<!doctype html>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Cocktail App</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
  </head>
  <body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Home</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/user_cocktails/new">Your Cocktail Menu</a></li>
        <li><a href="/api">API</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/logout">Logout</a></li>
        <li><a href="/">Home</a></li>
      </ul>
      <a href="/signup" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>


    <div class="container">
    <div class="section">

    <h6 class="header center" id="creditsHeader"><strong>Courtesy Of:</strong></h6>
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h6 class="center light-blue-text"><i class="material-icons">library_books</i></h6>
            <h6 class="center"><i>Chilled</i> Magazine:</h6>

            <h6 class="light">"The Pink Kitty"
            <br>"Rum Old Fashioned"
            <br>"Old Cuban"
            <br>"Bacardí Friendsgiving Rum Punch"; (Image Courtesy of "Gal On A Mission")
            <br>"Turmeric Fizz"
            <br>"The Bell Garden"
            <br>"Melatarita"
            <br>"Beverly Fix"
            <br>"Devils Garden"
            <br>"Hold Back the River"
            <br>"I Know What You Did Laz Fall"
            <br>"The Outlaw"
            </h6>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h6 class="center light-blue-text"><i class="material-icons">web</i></h6>
            <h6 class="center"><i>Swizzle & Smash</i>:</h6>

            <h6 class="light">"Queens Park Swizzle"
            <br>"Rock Your Face Off Toddy"; (Image Courtesy of "The Cookie Rookie")
            <br>"Blackberried Sour"
            <br>"Autumn Smash"
            <br>"Peachy"; (Image Courtesy of "The Messy Baker")
            <br>"Ginnys Revenge"; (Image Courtesy of "Displaced Housewife")
            </h6>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h6 class="center light-blue-text"><i class="material-icons">web</i></h6>
            <h6 class="center"><i>SAVEUR</i>:</h6>

            <h6 class="light">"St. Dill Martini"
            <br>"Modern Royale"
            <br>"Danitys Cranberry Gimlet"
            <br>"The Truffle Pig"
            <br>"Moradita"
            <br>"Fennel Delight"
            <br>"Whiskey Rock-a-Roller"
            <br>"Kentucky Buck"
            <br>"The Fascinator"
            <br>"Amber Negroni"
            </h6>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
        <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">Cocktails sourced from <i>Chilled</i> Magazine, <i>SAVEUR</i> and<br><a href="http://www.swizzleandsmash.com" target="_blank">Swizzle & Smash</a></p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Credits</h5>
          <ul>
            <li><a class="white-text" href="/credits">List</a></li>
            <!-- <li><a class="white-text" href="#!">Link 2</a></li> -->
            <!-- <li><a class="white-text" href="#!">Link 3</a></li> -->
            <!-- <li><a class="white-text" href="#!">Link 4</a></li> -->
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">LinkedIn</a></li>
            <li><a class="white-text" href="#!">Pinterest</a></li>
            <!-- <li><a class="white-text" href="#!">Link 4</a></li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
