<!doctype html>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Cocktail App</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/starter-template/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/starter-template/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>
  <body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Home</a>
      <ul class="right hide-on-med-and-down">
        <!-- <li><a href="/signup">Navbar Link</a></li> -->
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/"></a></li>
      </ul>
      <a href="/signup" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="container">
    <div class="main-container">
      <div class="border-container">
      <h1 class="header center orange-text">Cocktail App!</h1>
      <h4>If you're already a user, please <a href="/login">login</a>!</h4>
        <div class="col-lg-6 center-align">
          <div class="well bs-component">
            <form class="form-horizontal center-align" action="/signup" method="post">
              <fieldset>
                <legend>Sign Up</legend>
                <!-- <form class="col s10"> -->
                  <div class="row">
                    <div class="input-field col s5 offset-s1">
                      <input required placeholder="First Name" name="first_name" id="first_name"  type="text" class="validate">
                    </div>
                    <div class="input-field col s5 offset-1">
                      <input required placeholder="Last Name" name="last_name" id="last_name" type="text" class="validate">
                    </div>
                  </div>
                <div class="main-container">
                  <div class="row">
                    <div class="col s12">
                      <div class="input-field col s6 offset-1">
                        <input required placeholder="Email" name="email" id="email" type="text" class="validate" data-error="wrong">
                      </div>
                      <div class="input-field col s6 offset-1">
                        <input required placeholder="Password" name="password_digest" id="password" type="password" class="validate">
                      </div>
                    </div>
                  </div>
                <div class="row">
                  <div class="center-align">
                    <input required type="checkbox" class="filled-in checkbox-blue" id="filled-in-box" checked="checked" />
                    <label for="filled-in-box">Over 21?</label>
                  </div>
                <br><div class="form-group center-align">
                  <div class="col-lg-10 col-lg-offset-5">
                    <button type="submit" class="btn-large waves-effect waves-light orange">Join!</button>
                  </div>
                </div>
                </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

      <br><br><br><footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
        <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">Majority of Cocktails sourced from <i>Chilled</i> Magazine and <a href="/www.swizzleandsmash.com">Swizzle and Smash</a></p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Credits</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <!-- <li><a class="white-text" href="#!">Link 2</a></li> -->
            <!-- <li><a class="white-text" href="#!">Link 3</a></li> -->
            <!-- <li><a class="white-text" href="#!">Link 4</a></li> -->
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">LinkedIn</a></li>
            <li><a class="white-text" href="#!">Pinterest</a></li>
            <!-- <li><a class="white-text" href="#!">Link 4</a></li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>


<!-- <form action="/signup" method="post">
<input required placeholder="First Name" name="first_name" id="first_name"  type="text" class="validate">
<input required placeholder="Last Name" name="last_name" id="last_name" type="text" class="validate">
<input required placeholder="Email" name="email" id="email" type="text" class="validate" data-error="wrong">
<input required placeholder="Password" name="password_digest" id="password" type="password" class="validate">
<input required type="checkbox" class="filled-in checkbox-blue" id="filled-in-box" checked="checked" />
<label for="filled-in-box">Over 21?</label>
<button type="submit">Join!</button>
</form> -->
