<form action="/signup" method="post">
<input required placeholder="First Name" name="first_name" id="first_name"  type="text" class="validate">
<input required placeholder="Last Name" name="last_name" id="last_name" type="text" class="validate">
<input required placeholder="Email" name="email" id="email" type="text" class="validate" data-error="wrong">
<input required placeholder="Password" name="password_digest" id="password" type="password" class="validate">
<input required type="checkbox" class="filled-in checkbox-blue" id="filled-in-box" checked="checked" />
<label for="filled-in-box">Over 21?</label>
<button type="submit">Join!</button>
</form>
