<!doctype html>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Cocktail App</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/starter-template/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/starter-template/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>

  <body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Home</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/user_cocktails/new">Your Cocktail Menu</a></li>
        <li><a href="/user_cocktails">New Cocktail</a></li>
        <li><a href="/api">API</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <!-- <li><a href="/signup">Navbar Link</a></li> -->
      </ul>
      <a href="/signup" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

{{#logged_in}}
  <div class="container">
    <h3 class="header center orange-text">Select A Season</h3>
    <h3 class="header center orange-text">Select a Spirit</h3>
      <!-- <br><div class="col-lg-6 center-align"> -->
        <div class="well bs-component">
          <form class="form-horizontal center-align" action="/seasons_spirits/cocktails" method="POST">
            <fieldset>
              <div class="container">
                  <div class="row">

                    <div class="input-field col s6 offset-1">
                      <h4 class="center light-blue-text"><i class="material-icons">today</i></h4>
                      <select class="browser-default" name="season" required>
                        <option value="" disabled selected>Season</option>
                        {{#seasons}}
                        <option value="{{ id }}">{{ name }}</option>
                        {{/seasons}}
                      </select>
                    </div>
                    <div class="input-field col s6 offset-1">
                      <h4 class="center light-blue-text"><i class="material-icons">invert_colors</i></h4>
                      <select class="browser-default" name="spirit" required>
                        <option value="" disabled selected>Spirit</option>
                        {{#spirits}}
                        <option value="{{ id }}">{{ name }}</option>
                        {{/spirits}}
                      </select>
                    </div>
                  </div>
                </div>
                  <br><div class="form-group center-align">
                    <div class="col-lg-10 col-lg-offset-5">
                      <button type="submit" class="btn-large waves-effect waves-light orange">Submit</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
{{/logged_in}}

{{^logged_in}}
Oops! You're not <a href="/login">logged in</a>!
{{/logged_in}}

      <br><br><br><footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
        <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">Cocktails sourced from <i>Chilled</i> Magazine, <i>SAVEUR</i> and <br><a href="http://www.swizzleandsmash.com" target="_blank">Swizzle & Smash</a></p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Credits</h5>
          <ul>
            <li><a class="white-text" href="/credits">List</a></li>
            <!-- <li><a class="white-text" href="#!">Link 2</a></li> -->
            <!-- <li><a class="white-text" href="#!">Link 3</a></li> -->
            <!-- <li><a class="white-text" href="#!">Link 4</a></li> -->
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">LinkedIn</a></li>
            <li><a class="white-text" href="#!">Pinterest</a></li>
            <!-- <li><a class="white-text" href="#!">Link 4</a></li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>


  </body>
</html>

<!-- <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body>

<form action="/seasons_spirits/cocktails" method="POST">

  Select Season:<select name="season">
  <option value="" disabled selected>Season</option>
  {{#seasons}}
  <option value="{{ id }}">{{ name }}</option>
  {{/seasons}}
  </select>

  Select Spirit:<select name="spirit">
  <option value="" disabled selected>Spirit</option>
  {{#spirits}}
  <option value="{{ id }}">{{ name }}</option>
  {{/spirits}}
  </select>

  <button type='submit'>Submit</button>

</form>


</body>
</html> -->
